<section class="about-me" id="aboutme">
  <div class="about-me-left">
    <h1 class="about-me-heading">{{ "aboutMe.header" | translate }}</h1>

    <div class="about-me-description">
      <p class="about-me-text">{{ "aboutMe.text" | translate }}</p>

      <div class="about-me-info">
        <div class="info-item">
          <img src="/img/about_me/11_location.png" alt="Location" />
          <p>{{ "aboutMe.location" | translate }}</p>
        </div>

        <div class="info-item">
          <img src="/img/about_me/12_bulb.png" alt="Open minded" />
          <p>{{ "aboutMe.openMinded" | translate }}</p>
        </div>

        <div class="info-item">
          <img src="/img/about_me/13_puzzle.png" alt="Problem solving" />
          <p>{{ "aboutMe.description" | translate }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="about-me-right">
    <div class="profile-border">
      <img
        class="profile-img"
        src="/img/profilbild.jpg"
        alt="Profilbild Lea Cotar"
      />
      <img class="border-ring" src="/img/lines/07_border.png" alt="" />
    </div>
    <img class="about-me-line" src="/img/lines/07_about_me.png" alt="" />
  </div>
</section>
