<section class="wholeAboutMeCNT" id="aboutme">
  <section class="aboutMeLeftSide">
    <div class="aboutMeHeading">
      <h1>{{ "aboutMe.header" | translate }}</h1>
    </div>

    <div class="aboutMeDescription">
      <p class="aboutMeTXT">{{ "aboutMe.text" | translate }}</p>
      <div class="aboutMeLocation">
        <img src="/img/about_me/11_location.png" alt="Location Icon" />
        <p>{{ "aboutMe.location" | translate }}</p>
      </div>

      <div class="aboutMeOpenMinded">
        <img src="/img/about_me/12_bulb.png" alt="Bulb Icon" />
        <p>{{ "aboutMe.openMinded" | translate }}</p>
      </div>

      <div class="aboutMeProblemSolving">
        <img src="/img/about_me/13_puzzle.png" alt="Puzzle Icon" />
        <p>{{ "aboutMe.description" | translate }}</p>
      </div>
    </div>
  </section>

  <section class="aboutMeRightSide">
    <div class="profileBorder">
      <img class="profileIMG" src="/img/profilbild.jpg" alt="" />
      <img class="aboutMeBorder" src="/img/lines/07_border.png" alt="" />
    </div>

    <div class="aboutMeLine">
      <img src="/img/lines/07_about_me.png" alt="" />
    </div>
  </section>
</section>
