/* :host {
  transform: translateY(85vh); // verschiebt alles 10vh nach unten
} */

.parent {
  display: flex;
  flex-direction: column;
}

.wholeAboutMeCNT {
  position: relative;
  display: flex;
  top: 20vh;
  width: 100vw;
  height: 125vh;
  z-index: 10;
  color: #ffffff;
  font-family: Poppins;
}

.aboutMeLeftSide {
  position: relative;
  width: 100%;
  height: 100%;
  left: 10vw;
}

.aboutMeHeading {
  position: relative;

  h1 {
    width: 450px;
    height: 110px;
    margin: 0;
    font-weight: 700;
    font-style: Bold;
    font-size: 90px;
    line-height: 120%;
  }
}

.aboutMeDescription {
  position: relative;
  width: 500px;
  height: 275px;
  gap: 35px;

  .aboutMeTXT {
    position: relative;
    width: 500px;
    height: 275px;
    font-weight: 400;
    font-size: 15px;
    line-height: 120%;
    gap: 35px;
    margin: 0;
  }
}

.aboutMeLocation,
.aboutMeOpenMinded,
.aboutMeProblemSolving {
  display: flex;
  align-items: center;
  gap: 15px;

  img {
    width: 70px;
    height: 60px;
  }
}

/* Right Side */
.aboutMeRightSide {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}

.profileBorder {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  img {
    position: absolute;
  }

  .profileIMG {
    z-index: 1;
    border-radius: 100%;
    width: 500px; // beliebige Breite
    height: 500px; // beliebige Höhe
  }

  .aboutMeBorder {
    z-index: 2;
    width: 500px; // beliebige Breite
    height: 500px; // beliebige Höhe
  }
}

@media screen and (max-width: 1300px) {
  .aboutMeRightSide {
    display: none;
  }

  .aboutMeLeftSide {
    position: relative;
    width: 10vw;
    height: 100vh;
    left: 10vw;
    display: flex;
    // align-items: center;
    flex-direction: column;
  }
}

@media screen and (max-width: 1000px) {
  .wholeAboutMeCNT {
    position: relative;
    // top: 85vh;
    transform: translateY(85vh); // verschiebt alles 10vh nach unten
    display: flex;
    width: 99vw;
    height: 100vh;
    z-index: 10;
    color: #ffffff;
    font-family: Poppins;
  }

  .aboutMeLeftSide {
    position: relative;
    width: 100%;
    height: 100vh;
    left: 5vw;
    display: flex;
    // align-items: center;
    flex-direction: column;
  }
}

/* @media screen and (max-width: 900px) {
  .aboutMeRightSide {
    display: none;
  }
}
wholeSkillsCTN */

// @media screen and (min-width: 800px) and (max-width: 1000px)
// @media screen and (min-width: 600px) and (max-width: 800px)
// @media screen and (min-width: 500px) and (max-width: 600px)
// @media screen and (min-width: 400px) and (max-width: 500px)
// @media screen and (min-width: 320px) and (max-width: 400px)
