/* .navbarResponsiv {
  display: none;
width: 100vw;
  height: 11vh;
  background-color: #141d2f;
  top: 0;
  z-index: 99;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
} */

.navbarResponsiv {
  display: none;
  position: relative;
  width: 100%;
}

/* --- NAVBAR --- */
.topnav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #1a2233;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // padding: 0 20px;
  z-index: 2000; // Navbar bleibt oben

  .navbarRespoLogo img {
    height: 45px;
    width: auto;
    border-radius: 6px;
    cursor: pointer;
  }

  .burgerBTN {
    background: none;
    border: none;
    color: white;
    font-size: 28px;
    cursor: pointer;
    z-index: 2100;
  }
}

/* --- OVERLAY --- */
.menuOverlay {
  position: fixed;
  top: 60px; // direkt unter Navbar
  left: 0;
  width: 110vw;
  height: calc(100vh - 0px);
  background-color: rgba(26, 34, 51, 0.98);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; // unter Navbar

  .menuLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    a {
      color: white;
      font-size: 22px;
      text-decoration: none;

      &:hover {
        color: #70e61c;
      }
    }

    .langSwitch {
      margin-top: 20px;
      color: white;

      .activeLang {
        color: #70e61c;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .navbarResponsiv {
    display: block;

    top: 0;
    left: 0;
    width: 100vw;
    height: 10vh; // oder deine gewünschte Höhe
    z-index: 9999; // höher als .rightSide (10) und .shape (2)
    background-color: #141d2f; // optional halbtransparent
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
  }

  .navbarRespoLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    // padding-left: 100px; /* evt. entfernen */

    img {
      width: 75px;
      height: 50px;
    }
  }

  .navbarBurgerMenu {
    .navbarBurgerMenu {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      padding-right: 100px; /* evt. entfernen */

      img {
        width: 75px;
        height: 50px;
      }
    }
  }
}

// @media screen and (min-width: 800px) and (max-width: 1000px)
// @media screen and (min-width: 600px) and (max-width: 800px)
// @media screen and (min-width: 500px) and (max-width: 600px)
// @media screen and (min-width: 400px) and (max-width: 500px)
// @media screen and (min-width: 320px) and (max-width: 400px)
