<section class="navbarResponsiv">
  <!-- Responsive Navbar -->
  <nav class="topnav">
    <!-- Logo links -->
    <div class="navbarRespoLogo">
      <img src="/img/navbar/lc_logo.jpg" alt="Logo" id="home" />
    </div>

    <!-- Burger rechts -->
    <button class="burgerBTN" (click)="toggleMenu()">☰</button>
  </nav>

  <!-- Overlay -->
  <div class="menuOverlay" *ngIf="menuOpen">
    <div class="menuLinks">
      <a href="#aboutme" (click)="toggleMenu()">{{
        "navbar.aboutMe" | translate
      }}</a>
      <a href="#skills" (click)="toggleMenu()">{{
        "navbar.skills" | translate
      }}</a>
      <a href="#portfolio" (click)="toggleMenu()">{{
        "navbar.projects" | translate
      }}</a>
      <a href="#contact" (click)="toggleMenu()">{{
        "navbar.contact" | translate
      }}</a>

      <div class="langSwitch">
        <span class="activeLang">EN</span> / <span>DE</span>
      </div>
    </div>
  </div>
</section>
