.reviewBox {
  background-color: transparent; // Hintergrundfarbe
  color: white; // Textfarbe
  display: flex; // Inhalt zentrieren
  align-items: center; // Vertikal zentrieren
  justify-content: space-between; // Horizontal zentrieren
  flex-direction: column;
  border-radius: 30px; // Abgerundete Ecken
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Schatten
  border: 4px solid #70e61c; // Neuer Rand

  width: 850px;
  height: 270px;
  gap: 45px;
  padding: 50px 95px;
}

.bottomFeedback {
  display: flex;
  align-items: center;
  gap: 20px;
}

.arrowsDots {
  display: flex;
  align-items: center; // vertikal zentrieren
  justify-content: center;
  gap: 50px; // Abstand zwischen Pfeilen und Dots
  width: 100%;
  height: 50px;
  // padding-top: 25px;
}

.dots {
  display: flex;
  gap: 10px;

  span {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #9747ff;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  span.active {
    background-color: limegreen;
  }
}

.arrows {
  display: flex;
  width: 30px;
  height: 30px;
  top: 5px;
  left: 5px;

  &:hover {
    cursor: pointer;
  }
}
