<section class="wholeFeedbackCNT">
  <div class="reviewBox" *ngIf="rezessionen && rezessionen.length > 0">
    <div class="feedback">
      <span class="review">{{
        rezessionen[currentIndex].review | translate
      }}</span>
    </div>

    <div class="bottomFeedback">
      <img src="/img/lines/01_review.png" alt="" />
      <p>{{ rezessionen[currentIndex].name | translate }}</p>
      <a href="{{ rezessionen[currentIndex].linkedin }}" target="_blank">
        <img src="/img/social_media/10_linkedin.png" alt="" />
      </a>
    </div>
  </div>

  <div class="arrowsDots">
    <img
      class="arrows"
      src="/img/review/01_arrow_back.png"
      alt=""
      (click)="prevReview()"
    />

    <div class="dots">
      <span
        *ngFor="let idx of visibleDots; let dotPos = index"
        [class.active]="isCenterDot(dotPos)"
      >
      </span>
    </div>

    <img
      class="arrows"
      src="/img/review/02_arrow_forward.png"
      alt=""
      (click)="nextReview()"
    />
  </div>
</section>
