.reviewBox {
  background-color: transparent; // Hintergrundfarbe
  color: white; // Textfarbe
  display: flex; // Inhalt zentrieren
  align-items: center; // Vertikal zentrieren
  justify-content: space-between; // Horizontal zentrieren
  flex-direction: column;
  border-radius: 30px; // Abgerundete Ecken
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Schatten
  border: 4px solid #70e61c; // Neuer Rand

  width: 45vw;
  height: 25vh;
  gap: 45px;
  padding: 50px 95px;
}

.bottomFeedback {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: flex-end; /* Inhalt nach rechts im Container */
  margin-left: auto; /* Schiebt den Container selbst nach rechts */

  /* img:first-child {
    width: 100px; /* z. B. für das erste Bild
  } */

  p {
    width: 300px; /* z. B. für den Text */
    text-align: center;
  }

  a {
    width: 50px; /* z. B. für den Link mit Icon */

    img {
      align-items: center;
      // width: 100%; /* füllt den Linkbereich */
    }
  }
}

.arrowsDots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.dots {
  display: flex;
  gap: 8px;

  span {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #9747ff;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  span.active {
    background-color: #70e61c;
  }
}

.arrows {
  display: flex;
  width: 30px;
  height: 30px;
  top: 5px;
  left: 5px;

  &:hover {
    cursor: pointer;
  }
}

/* @media screen and (max-width: 1000px) {
  .wholeFeedbackCNT {
    position: relative;
    top: 15vh;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
} */

@media screen and (max-width: 1000px) {
  .reviewBox {
    width: 90vw; /* Breite anpassen */
    height: auto; /* Höhe automatisch anpassen, damit Inhalt Platz hat */
    padding: 30px 20px; /* Padding reduzieren für kleinere Bildschirme */
    gap: 30px; /* Optional: Abstand zwischen Elementen anpassen */
  }

  .bottomFeedback {
    display: flex;
    justify-content: center; /* Inhalte innerhalb der Box zentrieren */
    margin-left: 0; /* Entfernt Verschiebung nach rechts */
    flex-wrap: wrap; /* Falls es zu eng wird, brechen die Elemente um */
    gap: 15px; /* Lücke zwischen Elementen anpassen */

    p {
      // width: 100%; /* Text passt sich der Breite an */
      text-align: center; /* Text zentrieren */
    }

    a {
      width: auto; /* Icon passt sich an */

      img {
        width: 30px; /* Icon-Grösse anpassen */
      }
    }
  }
}

// @media screen and (min-width: 800px) and (max-width: 1000px)
// @media screen and (min-width: 600px) and (max-width: 800px)
// @media screen and (min-width: 500px) and (max-width: 600px)
// @media screen and (min-width: 400px) and (max-width: 500px)
// @media screen and (min-width: 320px) and (max-width: 400px)
