<p>contactform works!</p>

<div class="container">
  <form
    action="action_page.php"
    (ngSubmit)="onSubmit(contactform)"
    #contactform="ngForm"
  >
    <label for="lname">Name</label>
    <!-- Label entfernen -->
    <input
      [(ngModel)]="contactData.name"
      type="text"
      id="lname"
      name="name"
      [placeholder]="'contact.contactform.name' | translate"
      required
    />

    <label for="email">E-Mail:</label>
    <!-- Label entfernen -->
    <input
      [(ngModel)]="contactData.email"
      type="email"
      id="email"
      name="email"
      [placeholder]="'contact.contactform.email' | translate"
      required
      pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
    />

    <label for="subject">Subject</label>
    <!-- Label entfernen -->
    <textarea
      #message="ngModel"
      [(ngModel)]="contactData.message"
      id="subject"
      name="subject"
      [placeholder]="'contact.contactform.message' | translate"
      style="height: 200px"
      required
    ></textarea>

    @if (!message.valid && message.touched && message.disabled) {
    <span class="error">Bitte gib eine gültige Email-Adresse ein</span>
    }

    <input type="submit" value="Submit" />
  </form>
</div>
