<p>contact-me works!</p>

<section id="contact" class="contactComponent">
  <section>
    <div class="contactHeader">
      <img src="/img/lines/05_contact.png" alt="" />
      <h3>{{ "contact.header.eins" | translate }}</h3>
    </div>
    <div class="contactContent">
      <h2>{{ "contact.header.zwei" | translate }}</h2>
      <div class="contactTXT">
        <p>{{ "contact.text.eins" | translate }}</p>
        <p>{{ "contact.text.zwei" | translate }}</p>
      </div>
    </div>
  </section>

  <section class="contactForm">
    <app-contactform></app-contactform>
  </section>
</section>
