.contactComponent {
  position: relative;
  // top: 90vh;
  z-index: 10;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Poppins;
  transform: translateY(20vh); // verschiebt alles 10vh nach unten
}

.contactLeftSide {
  height: 15vh;
}

.contactHeader {
  display: flex;
  align-items: center;

  width: 945px;
  height: 110px;

  /* top: 5286px; */
  gap: 35px;
  // top: 490vh;

  h3 {
    color: #ffffff;
    width: 375px;
    // height: 110px;
    gap: 10px;
    font-weight: 700;
    font-size: 90px;
    line-height: 120%;
    text-align: center;
  }
}

.contactContent {
  /* ändern!!! */
  position: absolute; /* oder weglassen */
  left: 10px;
  top: auto;

  h2 {
    height: 40px;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    color: #ffffff;
  }
}

.contactTXT {
  width: 25vw;
  height: 95px;
  gap: 15px;

  p {
    font-weight: 400;
    font-size: 15px;
    line-height: 120%;
    color: #ffffff;
  }
}

.contactForm {
  // margin-top: 100px;
  width: 100%;
  gap: 35px;
}

//     transform: translateY(250vh); // verschiebt alles 10vh nach unten

@media screen and (max-width: 1000px) {
  .contactComponent {
    transform: translateY(250vh); // verschiebt alles 10vh nach unten
  }

  .contactContent {
    /* NACHFRAGEN!!! */
    position: absolute;
    left: 22vw;
    top: auto;
  }

  .contactTXT {
    width: 50vw;
    height: 95px;
    gap: 15px;

    p {
      font-weight: 400;
      font-size: 15px;
      line-height: 120%;
      color: #ffffff;
    }
  }
}

// @media screen and (max-width: 600px) {}
