<p>about works!</p>

<section class="aboutMe">
  <div class="contentLeft">
    <div class="introduction">
      <h2 class="title">About Me</h2>
      <p class="descriptionAboutMe">
        Write some information about yourself that is IT related. Why are you
        passionate about coding? What is your source of inspiration for
        improving your programming skills?
        <!-- Text MUSS noch geändert werden!!! -->
      </p>
    </div>

    <div class="information">
      <div class="location">
        <div class="aboutMeIcon">
          <img src="./../../../../assets/img/about_me/11_location.png" alt="" />
        </div>

        <div>
          <p>
            Where are you located? Are you open to different ways of working,
            such as working remotely or even relocating?
          </p>
        </div>
      </div>

      <div class="openMinded">
        <div class="aboutMeIcon">
          <img src="./../../../../assets/img/about_me/12_bulb.png" alt="" />
        </div>

        <div>
          <p>
            Show that you are open-minded. Are you enthusiastic about learning
            new technologies and continually improving your skills?
          </p>
        </div>
      </div>

      <div class="description">
        <div class="aboutMeIcon">
          <img src="./../../../../assets/img/about_me/13_puzzle.png" alt="" />
        </div>

        <div>
          <p>
            A brief description of your problem-solving approach. Do you learn
            from each challenge as you search for the most efficient or elegant
            solution? You can include some keywords like: analytical thinking,
            creativity, persistence and collaboration.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="contentRight">
    <div class="about">
      <div class="profileIMG">
        <img class="img" src="./../../../../assets/img/profilbild.jpg" alt="" />
      </div>

      <div class="line">
        <img
          class="lineIMG"
          src="./../../../../assets/img/lines/07_about_me.png"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
