.wholeReviewCNT {
  /* position: relative; // Bezugspunkt für das absolute Gänsefüßchen
  top: 350vh; // behält die ursprüngliche Positionierung der Section
  padding: 2rem; // optional, damit Inhalt Platz hat
  // width: 100%; */
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 20vh;
  position: relative;
}

.wholeReviewCNT .quotation {
  left: 170px; // über die linke Ecke der Box
  width: 100px; // Grösse anpassen
  height: auto;
  z-index: 10; // über der Box
}

@media screen and (max-width: 1000px) {
  .wholeReviewCNT {
    /*position: relative; // Bezugspunkt für das absolute Gänsefüßchen
  top: 350vh; // behält die ursprüngliche Positionierung der Section
  padding: 2rem; // optional, damit Inhalt Platz hat
  // width: 100%;  */
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // top: 100vh;
    position: relative;
    transform: translateY(220vh); // verschiebt alles 10vh nach unten
  }
}
