:host {
  display: block;
  margin-bottom: 3rem;
}

.wholeSingleProjectCNT {
  width: 100%;
  font-family: Poppins;
}

/*
  h3 {
    color: #9747ff;
  }

  .singleProjectTech {
  color: #70e61c;
}

    color: #ffffff;

    &:hover {
      cursor: pointer;
    }


*/

.projectCard {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 4rem;
  /* flex-wrap: wrap; */

  &.reverse {
    flex-direction: row-reverse;
  }
}
