<section
  class="wholeSingleProjectCNT"
  data-aos="fade-right"
  data-aos-offset="800"
>
  <table class="singleProjectTbl">
    <tr class="singleProject" [class.reverse]="reverseLayout">
      <td *ngIf="!reverseLayout">
        <img
          *ngFor="let img of project.imageProject"
          [src]="img"
          [alt]="project.projectname"
        />
      </td>
      <td *ngIf="!reverseLayout">
        <div class="singleProjectDetails">
          <h3>{{ project.projectname }}</h3>

          <div class="singleProjectTech">
            {{ project.content.technologies | translate }}
          </div>

          <div class="singleProjectTXT">
            <p>{{ project.content.description | translate }}</p>
          </div>

          <div class="singleProjectBTN">
            <a [href]="project.livetest" target="_blank"
              ><button class="singleProjectBTNLiveTest">Live Test</button></a
            >
            <a [href]="project.github" target="_blank"
              ><button class="singleProjectBTNGitHub">GitHub</button></a
            >
          </div>
        </div>
      </td>
    </tr>

    <!-- Für reverseLayout = true: Reihenfolge vertauschen -->
    <tr>
      <!-- class="singleProjectRvs" -->
      <td *ngIf="reverseLayout">
        <div class="singleProjectDetailsRvs">
          <h3>{{ project.projectname }}</h3>
          <div class="singleProjectTechRvs">
            {{ project.content.technologies | translate }}
          </div>
          <div class="singleProjectTXTRvs">
            <p>{{ project.content.description | translate }}</p>
          </div>
          <div class="singleProjectBTNRvs">
            <a [href]="project.livetest" target="_blank">
              <button class="singleProjectBTNLiveTest">Live Test</button>
            </a>
            <a [href]="project.github" target="_blank">
              <button class="singleProjectBTNGitHub">GitHub</button>
            </a>
          </div>
        </div>
      </td>

      <td *ngIf="reverseLayout">
        <img
          *ngFor="let img of project.imageProject"
          [src]="img"
          [alt]="project.projectname"
        />
      </td>
    </tr>
  </table>

  <!-- <div class="joinProject"></div>

  <div class="polloLocoProject"></div> -->
</section>
