<section class="wholePortfolioCNT" id="portfolio">
  <section class="portfolioHead">
    <div class="portfolioHeader">
      <img src="/img/lines/06_portfolio.png" alt="" />
      <h1>{{ "myProjects.header" | translate }}</h1>
      <img src="/img/lines/04_portfolio.png" alt="" />
    </div>

    <div class="portfolioHeaderTXT">
      <p>{{ "myProjects.text" | translate }}</p>
    </div>
  </section>

  <section class="myPortfolioProjects" ngClass="[fadeclass]">
    <app-single-project
      *ngFor="let project of projects; let i = index"
      [project]="project"
      [reverseLayout]="i === 1"
    ></app-single-project>
  </section>
</section>

<!--
      *ngFor="let project of projects; let i = index"
      [project]="project"
      [reverseLayout]="i === 1"
-->
