/* Whole Content */
.wholePortfolioCNT {
  /* position: absolute;
  top: 300vh; */
  height: 125vh;
  z-index: 10;
  left: 10vw;
  font-family: Poppins;
  right: 0;
  // box-sizing: border-box;
}

.portfolioHead {
  width: 100%;
}

.portfolioHeader {
  gap: 32px;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 110px;

  h1 {
    color: #ffffff;
    gap: 10px;
    font-weight: 700;
    font-size: 90px;
    text-align: center;
    margin: 0;
    display: flex;
  }
}

.portfolioHeaderTXT {
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  margin-top: 10px;
}

.myPortfolioProjects {
  margin-top: 50px; // oder grösser, je nach gewünschtem Abstand
}
