<section class="wholePortfolioCNT" id="portfolio">
  <section class="portfolioHead">
    <div class="portfolioHeader">
      <img src="/img/lines/06_portfolio.png" alt="" />
      <h1>{{ "myProjects.header" | translate }}</h1>
      <img src="/img/lines/04_portfolio.png" alt="" />
    </div>

    <div class="portfolioHeaderTXT">
      <p>{{ "myProjects.text" | translate }}</p>
    </div>
  </section>

  <section class="myPortfolioProjects" ngClass="[fadeclass]">
    <img
      class="portfolioShadow"
      src="/img/shadow/03_purple_shadow_portfolio.png"
      alt=""
    />

    <section
      class="wholeSingleProjectCNT"
      *ngFor="let project of projects; let i = index"
    >
      <table class="singleProjectTbl">
        <tr class="singleProject" [class.reverse]="i === 1">
          <td *ngIf="i !== 1">
            <img
              class="singleProjectIMG"
              *ngFor="let img of project.imageProject"
              [src]="img"
              [alt]="project.projectname"
            />
          </td>
          <td *ngIf="i !== 1">
            <div class="singleProjectDetails">
              <div class="singleProjectDescription">
                <h3>{{ project.projectname }}</h3>

                <div class="singleProjectTech">
                  {{ project.content.technologies | translate }}
                </div>

                <div class="singleProjectTXT">
                  <p>{{ project.content.description | translate }}</p>
                </div>
              </div>

              <div class="singleProjectBTN">
                <a [href]="project.livetest" target="_blank"
                  ><button class="singleProjectBTNLiveTest">
                    Live Test
                  </button></a
                >
                <a [href]="project.github" target="_blank"
                  ><button class="singleProjectBTNGitHub">GitHub</button></a
                >
              </div>
            </div>
          </td>
        </tr>

        <tr class="singleProject singleProjectRvs">
          <td *ngIf="i === 1">
            <div class="singleProjectDetails">
              <div class="singleProjectDescription">
                <h3>{{ project.projectname }}</h3>
                <div class="singleProjectTech">
                  {{ project.content.technologies | translate }}
                </div>
                <div class="singleProjectTXT">
                  <p>{{ project.content.description | translate }}</p>
                </div>
              </div>

              <div class="singleProjectBTN">
                <a [href]="project.livetest" target="_blank">
                  <button class="singleProjectBTNLiveTest">Live Test</button>
                </a>
                <a [href]="project.github" target="_blank">
                  <button class="singleProjectBTNGitHub">GitHub</button>
                </a>
              </div>
            </div>
          </td>

          <td *ngIf="i === 1">
            <img
              class="singleProjectIMG"
              *ngFor="let img of project.imageProject"
              [src]="img"
              [alt]="project.projectname"
            />
          </td>
        </tr>
      </table>
    </section>
  </section>
</section>
