/* Whole Content */
.wholePortfolioCNT {
  position: absolute;
  top: 350vh;
  height: 100%;
  z-index: 10;
  left: 10vw;
  font-family: Poppins;

  // box-sizing: border-box;
}

/* .portfolioHead {} */
.portfolioHeader {
  gap: 32px;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 110px;

  h1 {
    color: #ffffff;
    gap: 10px;
    font-weight: 700;
    font-size: 90px;
    text-align: center;
    margin: 0;
    display: flex;
  }
}

.portfolioHeaderTXT {
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  margin-top: 10px;
}

.myPortfolioProjects {
  margin-top: 50px; // oder größer, je nach gewünschtem Abstand
}
