<p>main-content works!</p>

<section class="startScreen">
  <img src="./../../../../assets/img/professionelles_Bild.png" alt="" />

  <div>
    <!-- Title -->
    <div class="title">
      <div class="content">I am</div>

      <div>
        <div class="name">Lea Cotar</div>
        <div class="profession">Fullstack Developer</div>
      </div>
    </div>

    <!-- Button -->
    <button>Let's talk!</button>

    <!-- Scroll Down -->
    <div class="scrollDown"></div>

    <!-- Social Media Icons -->
    <div></div>
  </div>
</section>

<app-about id="about"></app-about>
<app-skills id="app-skills"></app-skills>
<app-portfolio id="portfolio"></app-portfolio>
<app-contact></app-contact>
