<p>main-content works!</p>

<section class="startScreen">
  <img
    class="profileIMG"
    src="./../../../../assets/img/professionelles_Bild.png"
    alt=""
  />

  <div>
    <!-- Title -->
    <div class="title">
      <div class="content">I am</div>

      <div>
        <div class="name">Lea Cotar</div>
        <div class="profession">Fullstack Developer</div>
      </div>
    </div>
    <!-- Button -->
    <button class="talk">Let's talk!</button>

    <!-- Scroll Down -->
    <div class="scrollDown">
      Scroll Down
      <img
        class="arrowScrollDown"
        src="./../../../../assets/img/arrow_scroll_down.png"
        alt=""
      />
    </div>

    <div class="shape">
      <img class="shapeIcon" src="./../../../../assets/img/shape.png" alt="" />
    </div>

    <!-- Social Media Icons -->
    <div class="quickContact">
      <div class="line">
        <img src="./../../../../assets/img/lines/01_quick_contact.png" alt="" />
      </div>

      <div class="socialMediaIcons">
        <a href="https://github.com/lcotar">
          <img
            class="gitHub"
            src="./../../../../assets/img/social_media/08_github.png"
            alt=""
          />
        </a>

        <a href="">
          <img
            class="mail"
            src="./../../../../assets/img/social_media/09_email.png"
            alt=""
          />
        </a>

        <a href="https://www.linkedin.com/in/leacotar">
          <img
            class="linkedIn"
            src="./../../../../assets/img/social_media/10_linkedIn.png"
            alt=""
          />
        </a>
      </div>

      <a href="" class="eMail">lea.cotar&#64;gmx.ch</a>
    </div>
  </div>
</section>

<app-about id="about"></app-about>
<app-skills id="app-skills"></app-skills>
<app-portfolio id="portfolio"></app-portfolio>
<app-contact></app-contact>
