/* Whole Content */
.wholeSkillsCTN {
  /* position: absolute;
  top: 225vh;
  z-index: 10; */
  display: flex;
  width: 100%;
  height: 125vh;
  font-family: Poppins;
  font-weight: 400;
}

/* left Side: Icons & Description */
.skillsLeftSide {
  width: 50%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  // gap: 20px; // Abstand zwischen den Icons
  justify-content: center;
  padding: 20px;
}

.skillItem {
  position: relative;
  // left: 5.208vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100px;

  img {
    width: 60px;
    height: auto;
  }

  .skillLBL {
    color: #ffffff;
    margin-bottom: 8px;
    font-size: 20px;
  }

  .highlightedSkill {
    color: #9747ff;
    font-weight: bold;
  }

  .skillIcon {
    width: 60px;
    height: auto;
    transition: transform 0.3s ease-in-out;

    &:hover {
      width: 60px;
      transform: scale(1.1);
    }
  }
}

/* Right Side */
.skillsRightSide {
  width: 50%;
  align-items: end;
  height: 65vh;
}

.skillsTitle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  // gap: 35px;
  right: 0;
  height: 110px;

  h1 {
    color: #ffffff;
    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
    text-align: right;
    width: 60vw;
    padding-right: 5vw;
  }
}

.SkillsCTN,
.skillsDescri {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.skillsHeaderTXT {
  display: flex;
  flex-direction: column;
  gap: 200px;

  p {
    color: #ffffff;
    font-size: 20px;
    line-height: 120%;
    text-align: right;
    padding-right: 5vw; // 5% der Breite des Browserfensters
    width: 450px;
    margin-left: auto;
  }
}

/* Subtitels */
.skillsSubHeader {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 50px;
  padding-right: 5vw; // 5% der Breite des Browserfensters

  h2 {
    color: #ffffff;
    font-weight: 500;
    font-size: 30px;
    line-height: 120%;
    text-align: left;
    font-weight: bold;
  }

  .skillsHeaderGap {
    margin-right: 10px;
  }

  .skillsHeaderColor {
    color: #9747ff;
  }
}

.skillsSubTXT {
  p {
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    text-align: right;
    padding-right: 5vw; // 10% der Breite des Browserfensters
    // width: 500px;
    margin-left: auto;
  }
}

/* Button 'Get in Touch' */
.skillsBTNContact {
  padding-right: 10vw; // 10% der Breite des Browserfensters
  width: 410px;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.contactBTN {
  font-size: 1.2rem;
  color: #ffffff;
  border-color: transparent;
  border-radius: 10px;
  background-color: #70e61c;
  width: 250px;
  height: 60px;
  gap: 10px;
  padding: 15px 30px;

  &:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: #9747ff;
    border-color: #9747ff;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
  }
}

// @media screen and (max-width: 1250px)

@media screen and (max-width: 1000px) {
  .wholeSkillsCTN {
    display: block;
    width: 99vw;
    font-family: Poppins;
    font-weight: 400;
    position: relative;
    height: auto;
    transform: translateY(85vh); // verschiebt alles 10vh nach unten
  }

  .skillsLeftSide {
    position: absolute;
    top: 80vh; // ungefähre Position zwischen Header und Description
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
  }

  .skillsRightSide {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* gap: 20px;
    padding: 20px; */
  }

  .skillsTitle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 35px;
    right: 0;
    height: 110px;

    h1 {
      color: #ffffff;
      font-weight: 700;
      font-style: Bold;
      font-size: 60px;
      line-height: 120%;
      letter-spacing: 0%;
      text-align: right;
      width: 60vw;
    }
  }
  .skillsCTN {
    display: flex;
    flex-direction: column;
    gap: 100vh;
  }

  .skillsHeaderTXT,
  .skillsDescri {
    width: 100%;
  }
}

// @media screen and (min-width: 800px) and (max-width: 1000px)
// @media screen and (min-width: 600px) and (max-width: 800px)
// @media screen and (min-width: 500px) and (max-width: 600px)
// @media screen and (min-width: 400px) and (max-width: 500px)
// @media screen and (min-width: 320px) and (max-width: 400px)

/*  {
  .wholeSkillsCTN {
    position: relative; // oder static, falls es aktuell verschoben ist
    top: 0; // nach oben setzen
    transform: translateY(35vh); // verschiebt alles 10vh nach unten
    margin-top: 0; // evtl. bestehende Abstände entfernen

    height: auto; // statt fixer Höhe, damit Inhalt flexibel bleibt
    display: inline-block;
  }

  .skillsRightSide {
    width: 100%;
    align-items: end;
    height: auto;
    position: relative;
    z-index: 10;
  }

  .skillsTitle {
    h1 {
      margin: 0;

      font-size: 40px;
      text-align: right;
      width: 60vw;
      padding-right: 0vw;
    }
  }

  .skillsCTN {
    position: relative;
    gap: 50px;
  }

  .skillsLeftSide {
    position: relative;
    top: 55vh;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; // Abstand zwischen den Icons
    justify-content: center;
    padding: 20px;
  }
}
*/
