<p>my-skills works!</p>

<section class="wholeSkillsCTN" id="skills">
  <section class="skillsLeftSide"></section>

  <section class="skillsRightSide">
    <div class="skillsTitle">
      <h1>{{ "mySkills.header.eins" | translate }}</h1>
      <img src="/img/lines/01_my_skills.png" alt="" />
    </div>

    <div class="skillsCTN">
      <div class="skillsHeaderTXT">
        <p>{{ "mySkills.text.eins" | translate }}</p>
      </div>

      <div>
        <div class="skillsSubheader">
          <h2 class="skillsHeaderGap">
            {{ "mySkills.header.zwei" | translate }}
          </h2>
          <h2 class="skillsHeaderColor">
            {{ "mySkills.header.drei" | translate }}
          </h2>
          <h2>{{ "mySkills.header.vier" | translate }}</h2>
        </div>

        <div class="skillsSubTXT">
          <p>{{ "mySkills.text.zwei" | translate }}</p>
        </div>
      </div>

      <div class="skillsBTNContact">
        <button id="#contact">{{ "mySkills.button.text" | translate }}</button>
      </div>
    </div>
  </section>
</section>
