<section class="wholeImprintContent">
  <a [routerLink]="['/homepage']" class="imprintBTN">
    <button>{{ "contact.main.message" | translate }}</button>
  </a>

  <h1>{{ "imprint.header" | translate }}</h1>

  <address>
    Lea Cotar<br />
    Witikonerstrasse 3<br />
    8032 Zürich<br />
    Schweiz
  </address>

  <h2>{{ "navbar.contact" | translate }}</h2>
  <p>
    <b>E-Mail: </b>
    <a href="mailto:lea.cotar@gmx.ch">lea.cotar&#64;gmx.ch</a><br />
    <b>Web: </b>
    <a href="https://leacotar.com" target="_blank">leacotar.com</a>
  </p>

  <ol class="imprintList">
    <li>
      {{ "imprint.subheader.zwei" | translate }}
      <p>{{ "imprint.content.zwei" | translate }}</p>
    </li>
    <li>
      {{ "imprint.subheader.drei" | translate }}
      <p>{{ "imprint.content.drei" | translate }}</p>
    </li>
    <li>
      {{ "imprint.subheader.vier" | translate }}
      <p>{{ "imprint.content.vier" | translate }}</p>
    </li>
    <li>
      {{ "imprint.subheader.fuenf" | translate }}
      <p>{{ "imprint.content.fuenf" | translate }}</p>
    </li>
    <li>
      {{ "imprint.subheader.sechs" | translate }}
      <p>{{ "imprint.content.sechs" | translate }}</p>
    </li>
    <li>
      {{ "imprint.subheader.sieben" | translate }}
      <p>{{ "imprint.content.sieben" | translate }}</p>
    </li>
  </ol>

  <p class="imprintQuestions">
    {{ "imprint.fragen" | translate
    }}<a href="mailto:{{ 'imprint.content.eins' | translate }}">{{
      "imprint.content.eins" | translate
    }}</a>
  </p>

  <a [routerLink]="['/homepage']" class="imprintBTN">
    <button>{{ "contact.main.message" | translate }}</button>
  </a>
</section>
