<div class="above-the-fold-navbar-respo">
  <app-navbar-responsiv></app-navbar-responsiv>
</div>

<section class="wholeCNT" id="home">
  <section class="leftSide">
    <img class="shadowIMG" src="/img/shadow/01_photo_shadows.png" alt="" />
    <img class="proIMG" src="/img/professionelles_Bild.png" alt="" />
  </section>

  <img class="shape" src="/img/shape.png" alt="" />

  <section class="rightSide">
    <!--

    <div class="descriptionCNT">
      <div class="descriptionTXT">
        <div class="whoIs">
          <h2>{{ "home.whoIs" | translate }}</h2>
        </div>
        <div class="roleName">
          <h1>{{ "home.name" | translate }}</h1>
          <h2>{{ "home.role" | translate }}</h2>
        </div>
      </div>

      <div class="talk">
        <a href="#contact" class="talkBTN">
          <button id="toContact">
            {{ "home.talk" | translate }}
          </button></a
        >
      </div>
    </div>
-->

    <div class="hero">
      <div class="leftTXT">
        <span class="intro">{{ "home.whoIs" | translate }}</span>

        <div class="name-role">
          <h1 class="name">{{ "home.name" | translate }}</h1>
          <h2 class="role">{{ "home.role" | translate }}</h2>
        </div>
      </div>

      <div class="talk">
        <a href="#contact" class="talkBTN">
          <button id="toContact">
            {{ "home.talk" | translate }}
          </button></a
        >
      </div>
    </div>

    <div class="homeFooter">
      <div class="socialMedia">
        <img class="homeLine" src="/img/lines/01_quick_contact.png" alt="" />

        <div class="SocialMediaIcons">
          <a class="github" href="https://github.com/lcotar" target="_blank">
            <img src="/img/social_media/08_github.png" alt="GitHub" />
          </a>

          <a class="email" href="#contact">
            <img
              src="/img/social_media/09_email.png"
              alt="E-Mail"
              target="_blank"
            />
          </a>

          <a
            class="linkedIn"
            href="http://www.linkedin.com/in/leacotar"
            target="_blank"
          >
            <img src="/img/social_media/10_linkedin.png" alt="LinkedIn" />
          </a>
        </div>

        <div class="emailAdressCNT">
          <a class="emailAdress" href="#contact">
            {{ "home.email" | translate }}
          </a>
        </div>
      </div>

      <div class="scrollDown">
        <a class="scrollingDown" href="#contact">
          <img class="" src="/img/scroll_down.png" alt="" />
        </a>
      </div>
    </div>
  </section>
</section>
