<div class="above-the-fold-navbar-respo">
  <app-navbar-responsiv></app-navbar-responsiv>
</div>

<section class="heroSection" id="home">
  <div class="heroPhoto">
    <img class="shadowIMG" src="/img/shadow/01_photo_shadows.png" alt="" />
    <img class="proIMG" src="/img/professionelles_Bild.png" alt="Lea Cotar" />
    <img class="shape" src="/img/shape.svg" alt="" />
  </div>

  <div class="heroContent">
    <div class="heroText">
      <span class="intro">{{ "home.whoIs" | translate }}</span>
      <div class="name-role">
        <h1 class="name">{{ "home.name" | translate }}</h1>
        <h2 class="role">{{ "home.role" | translate }}</h2>
      </div>
    </div>

    <a href="#contact" class="talkBTN">
      {{ "home.talk" | translate }}
    </a>
  </div>

  <footer class="heroFooter">
    <div class="socialMedia">
      <span class="footerLine"></span>

      <div class="socialMediaIcons">
        <a
          href="https://github.com/lcotar"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="/img/social_media/08_github.png" alt="GitHub" />
        </a>
        <a href="#contact">
          <img src="/img/social_media/09_email.png" alt="E-Mail" />
        </a>
        <a
          href="https://www.linkedin.com/in/leacotar"
          target="_blank"
          rel="noopener noreferrer"
        >
          <img src="/img/social_media/10_linkedin.png" alt="LinkedIn" />
        </a>
      </div>

      <a class="emailAddress" href="#contact">
        {{ "home.email" | translate }}
      </a>
    </div>

    <div class="scrollDown">
      <a href="#aboutme">
        <img src="/img/scroll_down.png" alt="Scroll down" />
      </a>
    </div>
  </footer>
</section>
