// ===== DESKTOP VERSION (1000px - 1920px) =====
.wholeCNT {
  position: relative;
  width: 100vw;
  // min-height: 100vh;
  overflow: visible;
  display: flex;
  flex-direction: column;
}

.leftSide {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100vh;
  display: grid;
  place-items: center;
  z-index: 1;

  img {
    grid-area: 1 / 1;
  }

  .shadowIMG {
    // width: 45vw;
    height: auto;
    z-index: 1;
  }

  .proIMG {
    width: 70%;
    height: auto;
    z-index: 2;
  }
}

.shape {
  position: absolute;
  width: 100vw;
  height: auto;
  min-height: 70vh;
  top: 35%;
  left: 0;
  z-index: 2;
  pointer-events: none;
  object-fit: contain;
}

.rightSide {
  position: absolute;
  right: 0;
  top: 25%;
  width: 50%;
  // height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  width: 100%;

  .leftTXT {
    display: flex;
    align-items: flex-end;
    gap: 2rem;

    .intro {
      font-size: 64px;
      font-weight: 400;
      color: #ffffff;
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      line-height: 1;
    }

    .name-role {
      display: flex;
      flex-direction: column;

      .name {
        font-size: 90px;
        font-weight: 700;
        color: #ffffff;
        margin: 0;
        line-height: 0.9;
      }

      .role {
        font-size: 58px;
        font-weight: 400;
        color: #9747ff;
        margin: 0;
        line-height: 1;
      }
    }
  }
}

.talk {
  display: flex;
  justify-content: center;
  width: 100%;

  .talkBTN {
    text-decoration: none;

    button {
      color: #ffffff;
      font-size: 23px;
      font-family: Poppins, sans-serif;
      font-weight: 400;
      padding: 18px 35px;
      border-radius: 10px;
      background-color: #70e61c;
      border: none;
      cursor: pointer;
      transition: all 0.125s ease;

      &:hover {
        background-color: #9747ff;
        transform: scale(1.1);
      }
    }
  }
}

.homeFooter {
  /* position: absolute;
  top: 105%;
  left: 0; */
  width: 95vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  z-index: 10;

  .socialMedia {
    display: flex;
    align-items: center;
    gap: 42px;

    .homeLine {
      width: 100px;
      height: 4px;
      background-color: #9747ff;
    }

    .SocialMediaIcons {
      display: flex;
      gap: 42px;

      a img {
        width: 30px;
        height: 30px;
        transition: transform 0.125s ease;

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    .emailAdressCNT {
      a {
        color: #ffffff;
        font-family: Poppins, sans-serif;
        font-size: 16px;
        text-decoration: none;

        &:hover {
          color: #9747ff;
        }
      }
    }
  }

  .scrollDown {
    a img {
      width: 16px;
      height: auto;
      writing-mode: vertical-rl;
      transition: transform 0.125s ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

// ===== TABLET & MOBILE (320px - 999px) =====
// Responsivness
@media (min-width: 780px) and (max-width: 999px) {
  .wholeCNT {
    // min-height: 100vh;
    height: auto;
    flex-direction: column;
  }

  .leftSide {
    position: relative;
    // width: 100%;
    height: 55vh;
    top: 0;

    .shadowIMG {
      place-items: left;
      // width: 75vw;
      // max-width: 450px;
      z-index: 1;
    }

    .proIMG {
      width: 52vw;
      // max-width: 310px;
      z-index: 2;
    }
  }

  .shape {
    position: absolute;
    width: 100vw;
    height: auto;
    min-height: 50vh;
    top: 35vh;
    left: 0;
    z-index: 2;
  }

  .rightSide {
    position: relative;
    width: 100%;
    height: auto;
    // top: 10vh;
    // padding: 0 5vw;
    // margin-top: -10vh;
    align-items: flex-start;
  }

  .hero {
    // align-items: flex-start;
    gap: 0rem;
    // margin-bottom: 3rem;

    .leftTXT {
      align-items: flex-end;
      gap: 0rem;

      .intro {
        font-size: 48px;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
      }

      .name-role {
        .name {
          font-size: 64px;
        }

        .role {
          font-size: 42px;
        }
      }
    }
  }

  .talk {
    justify-content: center;

    .talkBTN button {
      font-size: 18px;
      padding: 15px 30px;
    }
  }

  .homeFooter {
    // position: relative;
    /* bottom: 0;
    left: 0;
    width: 100%;
    justify-content: flex-start;
    margin-top: 0rem;
    // padding: 0 5vw 2rem;
    gap: 35px; */
    top: 50%;

    .socialMedia {
      gap: 35px;

      .homeLine {
        width: 80px;
      }

      .SocialMediaIcons {
        gap: 35px;
      }

      .emailAdressCNT {
        display: none;
      }
    }

    .scrollDown {
      display: none;
    }
  }
}

// Responsivness
@media (min-width: 600px) and (max-width: 780px) {
  .wholeCNT {
    // min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .leftSide {
    position: relative;
    width: 100%;
    height: 55vh;
    top: 0;

    .shadowIMG {
      place-items: left;
      // width: 75vw;
      // max-width: 450px;
      z-index: 1;
    }

    .proIMG {
      // width: 60vw;
      // max-width: 310px;

      z-index: 2;
    }
  }

  .shape {
    position: absolute;
    width: 100vw;
    height: auto;
    min-height: 50vh;
    top: 55%;
    left: 0;
    z-index: 2;
  }

  .rightSide {
    position: relative;
    width: 100%;
    height: auto;
    top: 25vh;
    // padding: 0 5vw;
    // margin-top: -10vh;
    align-items: flex-start;

    .hero {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0rem;
      width: 100%;

      .leftTXT {
        display: flex;
        align-items: center;
        gap: 0rem;

        .intro {
          font-size: 312.5%;
          writing-mode: vertical-rl;
          transform: rotate(180deg);
        }

        .name-role {
          display: flex;
          flex-direction: column;

          .name {
            font-size: 64px;
          }

          .role {
            font-size: 42px;
          }
        }
      }
    }
  }
}

// ===== SMALL MOBILE (320px - 599px) =====
// Responsivness
@media (min-width: 320px) and (max-width: 599px) {
  .leftSide {
    height: 45vh;

    .shadowIMG {
      width: 85vw;
    }

    .proIMG {
      width: 60vw;
    }
  }

  .shape {
    top: 25%;
    min-height: 40vh;
  }

  .rightSide {
    left: 0;
    top: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0rem;
    width: 100%;

    .leftTXT {
      gap: 0rem;

      .intro {
        font-size: 200%;
      }

      .name-role {
        .name {
          font-size: 315%;
        }

        .role {
          font-size: 180%;
        }
      }
    }
  }

  .talk {
    .talkBTN button {
      font-size: 16px;
      padding: 13px 28px;
    }
  }

  .homeFooter {
    top: 75%;
    margin-top: 0rem;
    gap: 28px;

    .socialMedia {
      gap: 28px;

      .homeLine {
        width: 60px;
      }

      .SocialMediaIcons {
        gap: 28px;

        a img {
          width: 28px;
          height: 28px;
        }
      }
    }
  }

  .emailAdress,
  .scrollDown {
    display: none;
  }
}

// Responsivness
@media (min-width: 1000px) and (max-width: 1100px) {
  .rightSide {
    width: 100%;
    left: 0;
    height: auto;
    // padding: 0 5vw;
    top: 80%;
    align-items: flex-start;
  }

  .homeFooter {
    bottom: -15%;
  }

  .emailAdress {
    display: none;
  }
}

// Fine-tuning for specific breakpoints
// Responsivness
@media (min-width: 1000px) and (max-width: 1280px) {
  .shape {
    top: 45%;
  }

  .hero {
    .leftTXT {
      .intro {
        font-size: 56px;
      }

      .name-role {
        .name {
          font-size: 78px;
        }

        .role {
          font-size: 50px;
        }
      }
    }
  }
}

// Responsivness
@media (min-width: 1281px) and (max-width: 1440px) {
  /* .shape {
    top: 48vh;
  } */

  .hero {
    .leftTXT {
      .intro {
        font-size: 60px;
      }

      .name-role {
        .name {
          font-size: 85px;
        }

        .role {
          font-size: 54px;
        }
      }
    }
  }
}

// Responsivness
@media (min-width: 1441px) and (max-width: 1920px) {
  .shape {
    // top: 50vh;
    min-height: 75vh;
  }

  .hero {
    .leftTXT {
      .intro {
        font-size: 68px;
      }

      .name-role {
        .name {
          font-size: 95px;
        }

        .role {
          font-size: 62px;
        }
      }
    }
  }

  /* .leftSide {
    .shadowIMG {
      width: 42vw;
    }

    .proIMG {
      width: 26vw;
    }
  } */
}
