.wholeCNT {
  position: relative;
  height: 125vh;
  width: 99vw;
}

.leftSide {
  display: grid;
  width: 50vw;
  align-items: start;
  justify-items: start;
  top: 10vh;

  img {
    grid-area: 1 / 1; // beide Bilder in derselben Grid-Zelle -> übereinander
  }

  .shadowIMG {
    width: 50vw;
    margin-top: 20vh; // statt top: 150px
  }

  .proIMG {
    width: 30vw;
    margin-top: 20vh; // statt top: 80px
    margin-left: 10vw; // statt left: 50px
  }
}

.shape {
  position: absolute;
  width: 100vw;
  left: 0;
  z-index: 2;
  height: 100vh;
  top: 60vh;
}

.parent {
  display: grid;
}

.rightSide {
  position: absolute;
  z-index: 10;
  left: 0;
  height: 100vh;
  top: 10vh;
  width: 95vw;

  display: flex;
  flex-direction: column; // vertikal anordnen
  gap: 5vw; // Abstand zwischen oben (hero) und unten (scrollDown)
}

.hero {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */ // vertikal zentriert
  align-items: flex-end; // horizontal zentriert
  display: grid;
  place-items: center;
  margin-left: auto;
  margin-right: 0;

  // height: 35vh;
  padding: 2rem;

  .leftTXT {
    display: flex;
    align-items: center;

    .intro {
      font-size: 65px;
      color: #ffffff;
      transform: rotate(-90deg);
    }

    .name-role {
      display: flex;
      flex-direction: column;

      .name {
        font-size: 90px;
        font-weight: 800;
        color: #ffffff;
        margin: 0;
      }

      .role {
        font-size: 60px;
        font-weight: 600;
        color: #8a63ff;
        margin-top: 0.5rem;
      }
    }
  }
}

.talk {
  height: 15vh;
  /* width: 50vw; */
  padding-right: 35vw;

  .talkBTN {
    position: relative;
    top: 20px;
    left: 250px;
    width: 15vw;
    font-family: Poppins;
    font-weight: 400;
    line-height: 120%;

    button {
      color: #ffffff;
      font-size: 25px;
      font-family: Poppins;
      padding: 15px 30px;
      gap: 10px;
      width: 225px;
      height: 60px;
      border-radius: 10px;
      background-color: #70e61c;
      border-color: transparent;

      &:hover {
        cursor: pointer;
        color: #ffffff;
        background-color: #9747ff;
        border-color: #9747ff;
        transform: scale(1.1);
        transition: transform 0.3s ease-in-out;
      }
    }
  }
}

.homeFooter {
  display: flex;
  justify-content: space-between;
  width: 95vw;
  height: 50vh;

  // transform: translateY(-200px); // nach oben verschieben

  .emailAdressCNT {
    font-family: Poppins;

    a {
      color: #ffff;
      text-decoration: none;

      &:hover {
        text-decoration: none;
        cursor: pointer;
      }
    }
  }

  .socialMedia {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
    transform: translateY(-25%);
    width: 50vw;
    height: 40px;
    gap: 32px;

    img {
      width: 40px;
      height: 40px;

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
        transition: transform 0.3s ease-in-out;
      }
    }

    .homeLine {
      left: 0;
      width: 100%;
      height: 5px;
      background-color: #9747ff;
    }
  }
}

.SocialMediaIcons {
  display: flex;
  height: 100%;
  gap: 30px;

  img {
    width: 40px;
    height: 40px;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      transition: transform 0.3s ease-in-out;
    }
  }
}

.scrollDown {
  display: flex;
  justify-content: center; // horizontal zentriert
  align-items: center;

  img {
    width: 50px; // gewünschte Grösse
    height: auto;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      transition: transform 0.3s ease-in-out;
    }
  }
}

/* Responsive Design

@media screen and (min-width: 320px) and (max-width: 480px) {
.shape {
    position: absolute;
  width: 100vw;
  left: 0;
  z-index: 2;
  height: 100vh;
  top: 60vh;
}
} */

/* @media screen and (max-width: 1300px) {
  .shape {
    position: absolute;
    width: 100vw;
    left: 0;
    z-index: 2;
    height: 100vh;
    top: 45vh;
  }
} */

@media screen and (min-width: 1100px) and (max-width: 1200px) {
  .wholeCNT {
    position: relative;
    height: 125vh;
    width: 99vw;
  }

  .leftSide {
    display: grid;
    width: 50vw;
    align-items: start;
    justify-items: start;
    top: 10vh;

    img {
      grid-area: 1 / 1; // beide Bilder in derselben Grid-Zelle -> übereinander
    }

    .shadowIMG {
      width: 50vw;
      margin-top: 20vh; // statt top: 150px
    }

    .proIMG {
      width: 30vw;
      margin-top: 15vh; // statt top: 80px
      margin-left: 10vw; // statt left: 50px
    }
  }

  .shape {
    position: absolute;
    width: 100vw;
    left: 0;
    z-index: 2;
    height: 100vh;
    top: 50vh;
  }

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center; // vertikal zentriert
    align-items: flex-end; // horizontal zentriert
    // height: 35vh;
    padding: 2rem;

    .leftTXT {
      display: flex;
      align-items: center;

      .intro {
        font-size: 65px;
        color: #ffffff;
        transform: rotate(-90deg);
      }

      .name-role {
        display: flex;
        flex-direction: column;

        .name {
          font-size: 90px;
          font-weight: 800;
          color: #ffffff;
          margin: 0;
        }

        .role {
          font-size: 60px;
          font-weight: 600;
          color: #8a63ff;
          margin: 0.5rem;
        }
      }
    }
  }
}

@media screen and (min-width: 1000px) and (max-width: 1100px) {
  .wholeCNT {
    position: relative;
    height: 125vh;
    width: 99vw;
  }

  .leftSide {
    display: grid;
    width: 50vw;
    align-items: start;
    justify-items: start;
    top: 10vh;

    img {
      grid-area: 1 / 1; // beide Bilder in derselben Grid-Zelle -> übereinander
    }

    .shadowIMG {
      width: 50vw;
      margin-top: 25vh; // statt top: 150px
    }

    .proIMG {
      width: 30vw;
      margin-top: 25vh; // statt top: 80px
      margin-left: 7.5vw; // statt left: 50px
    }
  }

  .shape {
    position: absolute;
    width: 99vw;
    left: 0;
    z-index: 2;
    height: 100vh;
    top: 45vh;
  }

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center; // vertikal zentriert
    align-items: flex-end; // horizontal zentriert
    // height: 35vh;
    padding: 2rem;

    .leftTXT {
      display: flex;
      align-items: center;

      .intro {
        font-size: 65px;
        color: #ffffff;
        transform: rotate(-90deg);
      }

      .name-role {
        display: flex;
        flex-direction: column;

        .name {
          font-size: 90px;
          font-weight: 800;
          color: #ffffff;
          margin: 0;
        }

        .role {
          font-size: 60px;
          font-weight: 600;
          color: #8a63ff;
          margin: 0.5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .leftSide {
    .shadowIMG {
      width: auto; // überschreibt 40vw
      // max-width: 100%;
      height: auto;
    }

    .proIMG {
      width: auto; // überschreibt 30vw
      // max-width: 100%;
      height: auto;
    }
  }

  .rightSide {
    position: absolute;
    z-index: 10;
    left: 0;
    height: 100vh;
    top: 130vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    gap: 5vw;
  }

  .hero {
    align-items: flex-end;
    height: 50vh;
    padding: 2rem;
  }

  .talk {
    height: 15vh;
    width: 75vw;
  }

  .shape {
    position: absolute;
    width: 99vw;
    left: 0;
    z-index: 2;
    height: 99vh;
    top: 85vh;
  }

  .homeFooter {
    display: flex;
    justify-content: space-between;
    width: 95vw;
    height: auto;
  }

  .scrollDown {
    display: none;
  }
}

// @media screen and (min-width: 800px) and (max-width: 1000px)
// @media screen and (min-width: 600px) and (max-width: 800px)
// @media screen and (min-width: 500px) and (max-width: 600px)
// @media screen and (min-width: 400px) and (max-width: 500px)
// @media screen and (min-width: 320px) and (max-width: 400px)
