<div class="line"></div>
<section class="wholeFooter">
  <div class="footerLogoLegalNotice">
    <div class="footerLogo">
      <img src="/img/navbar/lc_logo.jpg" id="#home" alt="" />
    </div>
    <div class="footerLegalNotice">
      <a href="" [routerLink]="['/imprint']">Legal Notice</a>
    </div>
  </div>

  <div class="footerCopyright">
    <p>© Lea Cotar 2025</p>
  </div>

  <div class="footerSocialMedia">
    <a class="github" href="https://github.com/lcotar" target="_blank">
      <img src="/img/social_media/08_github.png" alt="GitHub" />
    </a>

    <a class="email" href="#contact">
      <img src="/img/social_media/09_email.png" alt="E-Mail" target="_blank" />
    </a>

    <a
      class="linkedIn"
      href="http://www.linkedin.com/in/leacotar"
      target="_blank"
    >
      <img src="/img/social_media/10_linkedin.png" alt="LinkedIn" />
    </a>
  </div>
</section>
