.wholeFooter {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 25vh;
  justify-content: space-around;
  position: relative;
  gap: 30px;
  z-index: 10;
  transform: translateY(30vh);
  background-color: #1a2233;
}

.line {
  height: 125vh;
  height: 5px; /* Dicke der Linie */
  background-color: #70e61c; /* Farbe */
  width: 100%; /* Breite */
  // margin: 20px auto; /* Abstand oben/unten + zentriert */
  z-index: 10;
  width: 100vw;
  position: relative;
  transform: translateY(30vh);
}

.footerLogo {
  img {
    width: 100px;
  }
}

.footerLegalNotice {
  a {
    color: #ffffff;
    text-decoration: none;
  }
}

.footerCopyright {
  p {
    color: #ffffff;
  }
}

.footerSocialMedia {
  width: 175px;
  height: 40px;
  top: 120px;
  // left: 1166px;

  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1000px) {
  .line {
    transform: translateY(300vh); // verschiebt alles 10vh nach unten
  }

  .wholeFooter {
    transform: translateY(300vh); // verschiebt alles 10vh nach unten
  }
}
